// Grays
@black:             #000;
@grayDark:          lighten(@black, 25%);
@gray:              lighten(@black, 50%);
@grayLight:         lighten(@black, 75%);
@grayLighter:       lighten(@black, 90%);
@white:             #fff;

// Accents
@blue:              #01a8e3;//#4f81bd; //#049CDB;
@blueDark:          #0064CD;
@green:             #46a546;
@red:               #af2323; //#9d261d;
@yellow:            #f2e713; //#ffc40d;
@orange:            #f79646; // #f89406;
@pink:              #c3325f;
@purple:            #7a43b6;

// Palette
@bg:                white;
@accent-1:          @blue;
@accent-2:          @red;
@accent-3:          @yellow;
@text:              @grayDark;
@textQuiet:         lighten(@text, 50%);
@textLoud:          @black;
@titleText:         @blue;

@boxBackground:    @grayLight;

// Links
@linkColor:         #0069d6;
@linkColorHover:    darken(@linkColor, 15);

// Fonts
@sansSerifFonts:    mySegoeUI,Arial,Helvetica,sans-serif;
@serifFonts:        Georgia, "Times New Roman", Times, serif;
@monospaceFonts:    Monaco, "Courier New", monospace;

